<!-- <nav class="navbar navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="" class="navbar-brand">COVID 19</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/dashboard">Dashboard</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="/countries">Countries</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a
            style="cursor: pointer"
            *ngIf="isAuthenticated"
            (click)="onLogout()"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">COVID 19</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/dashboard"
            ><i class="fa fa-area-chart fa-2x" aria-hidden="true"></i
          ></a>
        </li>
        <li class="nav-item" *ngIf="isAuthenticated">
          <a
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
            routerLink="/countries"
            ><i class="fa fa-globe fa-2x" aria-hidden="true"></i
          ></a>
        </li>
      </ul>
      <form class="d-flex">
        <div *ngIf="isAuthenticated" (click)="onLogout()" type="submit">
          <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i>
        </div>
      </form>
    </div>
  </div>
</nav>
