<div
  class="card shadow-lg text-dark bg-light mt-5 mb-3"
  style="max-width: 25rem"
>
  <div class="card-body">
    <div class="row mt-3">
      <div class="col">
        <img
          style="height: 40px; width: 80px"
          src="{{ cntry.countryInfo.flag }}"
          alt=""
        />
      </div>
      <div class="col">
        <h5 class="card-title">{{ cntry?.country }}</h5>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div>Cases</div>
        {{ cntry?.cases | number: "1.0-0" }}
      </div>
      <div class="col">
        <div>Deaths</div>
        {{ cntry?.deaths | number: "1.0-0" }}
      </div>
      <div class="col">
        <div>Recovered</div>
        {{ cntry?.recovered | number: "1.0-0" }}
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <div>Tests</div>
        {{ cntry?.tests | number: "1.0-0" }}
      </div>
      <div class="col">
        <div>Population</div>
        {{ cntry?.population | million }}
      </div>
      <div class="col mt-2">
        <a style="cursor: pointer" [routerLink]="['/countries', cntry.country]"
          ><i
            style="color: black"
            class="fa fa-pencil-square-o fa-2x"
            aria-hidden="true"
          ></i
        ></a>
      </div>
    </div>
  </div>
</div>
