<div class="container mt-5">
  <div class="row">
    <div class="col">
      <h1>Countries</h1>
    </div>
    <div class="col">
      <div class="input-group mb-3 shadow-sm">
        <input
          type="text"
          #query
          (keyup)="filter(query.value)"
          class="form-control"
          placeholder="Search here.."
        />
      </div>
    </div>
    <div class="col">
      <div class="dropdown" appToggleDropdown #toggle="appToggleDropdown">
        <button
          class="
            btn btn-light
            shadow-sm
            btn-outline-primary
            dropdown-toggle
            w-100
          "
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ filterText }}
        </button>
        <ul
          class="dropdown-menu w-100"
          [ngClass]="{ show: toggle.isOpen }"
          aria-labelledby="dropdownMenuButton1"
          (click)="onSort($event)"
        >
          <li><a class="dropdown-item">Country name</a></li>
          <li><a class="dropdown-item">Number of cases</a></li>
          <li><a class="dropdown-item">Number of deaths</a></li>
          <li><a class="dropdown-item">Number of recovered</a></li>
        </ul>
      </div>
    </div>
    <div class="col text-center">
      <pagination-controls
        (pageChange)="p = $event"
        [maxSize]="0"
      ></pagination-controls>
      <div>
        {{ (p - 1) * itemsPerPage + 1 }} to {{ p * itemsPerPage }} of
        {{ filteredCountry?.length }}
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row row-cols-3">
    <div
      class="col"
      *ngFor="
        let c of filteredCountry
          | paginate: { itemsPerPage: itemsPerPage, currentPage: p }
      "
    >
      <app-country-element [cntry]="c"></app-country-element>
    </div>
  </div>
</div>
