<div class="container">
  <div class="row" style="height: 35rem">
    <div class="col"></div>
    <div class="col shadow-lg" style="margin-top: 200px">
      <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="form-group pt-3 mb-2">
          <label for="username" class="col-sm-2 col-form-label"
            >Username
          </label>
          <input
            type="username"
            id="username"
            class="form-control"
            formControlName="username"
            placeholder="username"
          />
        </div>
        <div class="form-group mb-3">
          <label for="password" class="col-sm-2 col-form-label">Password</label>
          <input
            type="password"
            id="password"
            class="form-control"
            formControlName="password"
            placeholder="password"
          />
        </div>
        <div>
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="!authForm.valid"
          >
            Login
          </button>
        </div>
      </form>
      <div *ngIf="error" class="alert alert-danger mt-3" role="alert">
        incorrect username or password
      </div>
    </div>
  </div>
</div>
