<div class="container shadow-lg pb-3 mt-5">
  <form [formGroup]="countryFormGroup" (ngSubmit)="onSubmit()">
    <div class="row mb-5">
      <div class="col">
        <h1 style="color: gray">Edit {{ countryName }}</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <label for="cases" class="col-sm-2 col-form-label">Cases</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control is-invalid"
            [ngClass]="{
              'is-invalid':
                countryFormGroup.controls['cases'].invalid &&
                countryFormGroup.controls['cases'].touched
            }"
            placeholder="Cases"
            id="cases"
            formControlName="cases"
            onkeydown="if(event.key==='.' || event.key==='-' || event.key==='+'){event.preventDefault();}"
            onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "
          />
          <div
            *ngIf="countryFormGroup.controls['cases'].errors?.required"
            class="invalid-feedback"
          >
            Cases is <strong>required</strong>
          </div>
          <div
            *ngIf="countryFormGroup.controls['cases'].errors?.min"
            class="invalid-feedback"
          >
            <strong>Negative</strong> values are not supported
          </div>
          <div
            *ngIf="countryFormGroup.controls['cases'].errors?.pattern"
            class="invalid-feedback"
          >
            Value should not be <strong>string</strong>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="deaths" class="col-sm-2 col-form-label">Deaths</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                countryFormGroup.controls['deaths'].invalid &&
                countryFormGroup.controls['deaths'].touched
            }"
            placeholder="Deaths"
            id="deaths"
            formControlName="deaths"
            onkeydown="if(event.key==='.' || event.key==='-' || event.key==='+'){event.preventDefault();}"
            onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "
          />
          <div
            *ngIf="countryFormGroup.controls['deaths'].errors?.required"
            class="invalid-feedback"
          >
            Deaths is <strong>required</strong>
          </div>
          <div
            *ngIf="countryFormGroup.controls['deaths'].errors?.min"
            class="invalid-feedback"
          >
            <strong>Negative</strong> values are not supported
          </div>
          <div
            *ngIf="countryFormGroup.controls['deaths'].errors?.pattern"
            class="invalid-feedback"
          >
            Value should not be <strong>string</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <label for="recovered" class="col-sm-2 col-form-label">Recovered</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                countryFormGroup.controls['recovered'].invalid &&
                countryFormGroup.controls['recovered'].touched
            }"
            placeholder="Recovered"
            id="recovered"
            formControlName="recovered"
            onkeydown="if(event.key==='.' || event.key==='-' || event.key==='+'){event.preventDefault();}"
            onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "
          />
          <div
            *ngIf="countryFormGroup.controls['recovered'].errors?.required"
            class="invalid-feedback"
          >
            Recovered is <strong>required</strong>
          </div>
          <div
            *ngIf="countryFormGroup.controls['recovered'].errors?.min"
            class="invalid-feedback"
          >
            <strong>Negative</strong> values are not supported
          </div>
          <div
            *ngIf="countryFormGroup.controls['recovered'].errors?.pattern"
            class="invalid-feedback"
          >
            Value should not be <strong>string</strong>
          </div>
        </div>
      </div>
      <div class="col">
        <label for="tests" class="col-sm-2 col-form-label">Tests</label>
        <div class="col-sm-10">
          <input
            type="number"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                countryFormGroup.controls['tests'].invalid &&
                countryFormGroup.controls['tests'].touched
            }"
            placeholder="Tests"
            id="tests"
            formControlName="tests"
            onkeydown="if(event.key==='.' || event.key==='-' || event.key==='+'){event.preventDefault();}"
            onpaste="let pasteData = event.clipboardData.getData('text'); if(pasteData){pasteData.replace(/[^0-9]*/g,'');} "
          />
          <div
            *ngIf="countryFormGroup.controls['tests'].errors?.required"
            class="invalid-feedback"
          >
            Tests is <strong>required</strong>
          </div>
          <div
            *ngIf="countryFormGroup.controls['tests'].errors?.min"
            class="invalid-feedback"
          >
            <strong>Negative</strong> values are not supported
          </div>
          <div
            *ngIf="countryFormGroup.controls['tests'].errors?.pattern"
            class="invalid-feedback"
          >
            Value should not be <strong>string</strong>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col"></div>
      <div class="col">
        <button
          type="submit"
          [disabled]="!countryFormGroup.valid"
          class="btn btn-primary ms-3"
          style="width: 10rem"
        >
          Save
        </button>
        <button
          type="button"
          class="btn btn-primary ms-3"
          style="width: 10rem"
          (click)="onCancel()"
        >
          Cancel
        </button>
      </div>
    </div>
  </form>
</div>
