<div
  class="card shadow-lg text-center border-primary mb-3"
  style="max-width: 18rem"
>
  <div class="card-body text-primary">
    <h5 class="card-title">{{ title }}</h5>
    <p class="card-text fs-3 fw-bold">
      {{ count | number: "1.0-0" }}
    </p>
  </div>
</div>
