<h1 class="mt-5">Total</h1>

<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col">
      <app-dashboard-element
        [title]="'Total Cases'"
        [count]="info?.totalCases"
      ></app-dashboard-element>
    </div>
    <div class="col">
      <app-dashboard-element
        [title]="'Total Deaths'"
        [count]="info?.totalDeaths"
      ></app-dashboard-element>
    </div>
    <div class="col">
      <app-dashboard-element
        [title]="'Total Recovered'"
        [count]="info?.totalRecovered"
      ></app-dashboard-element>
    </div>
  </div>
</div>

<h1 class="mt-5">Today</h1>

<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col">
      <app-dashboard-element
        [title]="'Today Cases'"
        [count]="info?.todayCases"
      ></app-dashboard-element>
    </div>
    <div class="col">
      <app-dashboard-element
        [title]="'Total Deaths'"
        [count]="info?.todayDeaths"
      ></app-dashboard-element>
    </div>
    <div class="col">
      <app-dashboard-element
        [title]="'Total Recovered'"
        [count]="info?.todayRecovered"
      ></app-dashboard-element>
    </div>
  </div>
</div>
